<h1>Student Form</h1>
<p>Find me in app/views/students/new.html.erb</p>

<%= form_for(@student) do |f| %>
    Student First Name:<%= f.text_field :first_name%><br>
    Student Last Name:<%= f.text_field :last_name %>

    <%= f.submit %>
    <% end %>